body {
    background-color: beige;
    height: 3000px;
}

.background {
    height: 600px;
    margin: auto;
    background-image: url(../Truskawka.jpg);
    background-repeat: no-repeat; /* Nie powtarza obrazka w pozycji liniowej*/
    background-position: center;
    background-size: cover; /* sprawia że obrazek w tle wypełnia cały kontener */
}

/* background: url(../Truskawka.jpg) no-repeat fixed center; */





